# NOTE: This file is auto generated by OpenAPI Generator 6.1.0-SNAPSHOT (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule OpenFGA.Api.OpenFga do
  @moduledoc """
  API calls for all endpoints tagged `OpenFga`.
  """

  alias OpenFGA.Connection
  import OpenFGA.RequestBuilder

  @doc """
  Check whether a user is authorized to access an object
  The Check API queries to check if the user has a certain relationship with an object in a certain store. A `contextual_tuples` object may also be included in the body of the request. This object contains one field `tuple_keys`, which is an array of tuple keys. You may also provide an `authorization_model_id` in the body. This will be used to assert that the input `tuple_key` is valid for the model specified. If not specified, the assertion will be made against the latest authorization model ID. The response will return whether the relationship exists in the field `allowed`.  ## Example In order to check if user `user:anne` of type `user` has a `reader` relationship with object `document:2021-budget` given the following contextual tuple ```json {   \"user\": \"user:anne\",   \"relation\": \"member\",   \"object\": \"time_slot:office_hours\" } ``` the Check API can be used with the following request body: ```json {   \"tuple_key\": {     \"user\": \"user:anne\",     \"relation\": \"reader\",     \"object\": \"document:2021-budget\"   },   \"contextual_tuples\": {     \"tuple_keys\": [       {         \"user\": \"user:anne\",         \"relation\": \"member\",         \"object\": \"time_slot:office_hours\"       }     ]   } } ``` OpenFGA's response will include `{ \"allowed\": true }` if there is a relationship and `{ \"allowed\": false }` if there isn't.

  ### Parameters

  - `connection` (OpenFGA.Connection): Connection to server
  - `store_id` (String.t): 
  - `body` (CheckRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, OpenFGA.Model.CheckResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec check(Tesla.Env.client, String.t, OpenFGA.Model.CheckRequest.t, keyword()) :: {:ok, OpenFGA.Model.InternalErrorMessageResponse.t} | {:ok, OpenFGA.Model.ValidationErrorMessageResponse.t} | {:ok, OpenFGA.Model.PathUnknownErrorMessageResponse.t} | {:ok, OpenFGA.Model.CheckResponse.t} | {:error, Tesla.Env.t}
  def check(connection, store_id, body, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/stores/#{store_id}/check")
      |> add_param(:body, :body, body)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %OpenFGA.Model.CheckResponse{}},
      {400, %OpenFGA.Model.ValidationErrorMessageResponse{}},
      {404, %OpenFGA.Model.PathUnknownErrorMessageResponse{}},
      {500, %OpenFGA.Model.InternalErrorMessageResponse{}}
    ])
  end

  @doc """
  Create a store
  Create a unique OpenFGA store which will be used to store authorization models and relationship tuples.

  ### Parameters

  - `connection` (OpenFGA.Connection): Connection to server
  - `body` (CreateStoreRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, OpenFGA.Model.CreateStoreResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec create_store(Tesla.Env.client, OpenFGA.Model.CreateStoreRequest.t, keyword()) :: {:ok, OpenFGA.Model.CreateStoreResponse.t} | {:ok, OpenFGA.Model.InternalErrorMessageResponse.t} | {:ok, OpenFGA.Model.ValidationErrorMessageResponse.t} | {:ok, OpenFGA.Model.PathUnknownErrorMessageResponse.t} | {:error, Tesla.Env.t}
  def create_store(connection, body, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/stores")
      |> add_param(:body, :body, body)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {201, %OpenFGA.Model.CreateStoreResponse{}},
      {400, %OpenFGA.Model.ValidationErrorMessageResponse{}},
      {404, %OpenFGA.Model.PathUnknownErrorMessageResponse{}},
      {500, %OpenFGA.Model.InternalErrorMessageResponse{}}
    ])
  end

  @doc """
  Delete a store
  Delete an OpenFGA store. This does not delete the data associated with the store, like tuples or authorization models.

  ### Parameters

  - `connection` (OpenFGA.Connection): Connection to server
  - `store_id` (String.t): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec delete_store(Tesla.Env.client, String.t, keyword()) :: {:ok, nil} | {:ok, OpenFGA.Model.InternalErrorMessageResponse.t} | {:ok, OpenFGA.Model.ValidationErrorMessageResponse.t} | {:ok, OpenFGA.Model.PathUnknownErrorMessageResponse.t} | {:error, Tesla.Env.t}
  def delete_store(connection, store_id, _opts \\ []) do
    request =
      %{}
      |> method(:delete)
      |> url("/stores/#{store_id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {204, false},
      {400, %OpenFGA.Model.ValidationErrorMessageResponse{}},
      {404, %OpenFGA.Model.PathUnknownErrorMessageResponse{}},
      {500, %OpenFGA.Model.InternalErrorMessageResponse{}}
    ])
  end

  @doc """
  Expand all relationships in userset tree format, and following userset rewrite rules.  Useful to reason about and debug a certain relationship
  The Expand API will return all users and usersets that have certain relationship with an object in a certain store. This is different from the `/stores/{store_id}/read` API in that both users and computed usersets are returned. Body parameters `tuple_key.object` and `tuple_key.relation` are all required. The response will return a tree whose leaves are the specific users and usersets. Union, intersection and difference operator are located in the intermediate nodes.  ## Example To expand all users that have the `reader` relationship with object `document:2021-budget`, use the Expand API with the following request body ```json {   \"tuple_key\": {     \"object\": \"document:2021-budget\",     \"relation\": \"reader\"   } } ``` OpenFGA's response will be a userset tree of the users and usersets that have read access to the document. ```json {   \"tree\":{     \"root\":{       \"type\":\"document:2021-budget#reader\",       \"union\":{         \"nodes\":[           {             \"type\":\"document:2021-budget#reader\",             \"leaf\":{               \"users\":{                 \"users\":[                   \"user:bob\"                 ]               }             }           },           {             \"type\":\"document:2021-budget#reader\",             \"leaf\":{               \"computed\":{                 \"userset\":\"document:2021-budget#writer\"               }             }           }         ]       }     }   } } ``` The caller can then call expand API for the `writer` relationship for the `document:2021-budget`.

  ### Parameters

  - `connection` (OpenFGA.Connection): Connection to server
  - `store_id` (String.t): 
  - `body` (ExpandRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, OpenFGA.Model.ExpandResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec expand(Tesla.Env.client, String.t, OpenFGA.Model.ExpandRequest.t, keyword()) :: {:ok, OpenFGA.Model.InternalErrorMessageResponse.t} | {:ok, OpenFGA.Model.ValidationErrorMessageResponse.t} | {:ok, OpenFGA.Model.PathUnknownErrorMessageResponse.t} | {:ok, OpenFGA.Model.ExpandResponse.t} | {:error, Tesla.Env.t}
  def expand(connection, store_id, body, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/stores/#{store_id}/expand")
      |> add_param(:body, :body, body)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %OpenFGA.Model.ExpandResponse{}},
      {400, %OpenFGA.Model.ValidationErrorMessageResponse{}},
      {404, %OpenFGA.Model.PathUnknownErrorMessageResponse{}},
      {500, %OpenFGA.Model.InternalErrorMessageResponse{}}
    ])
  end

  @doc """
  Get a store
  Returns an OpenFGA store by its identifier

  ### Parameters

  - `connection` (OpenFGA.Connection): Connection to server
  - `store_id` (String.t): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, OpenFGA.Model.GetStoreResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_store(Tesla.Env.client, String.t, keyword()) :: {:ok, OpenFGA.Model.InternalErrorMessageResponse.t} | {:ok, OpenFGA.Model.ValidationErrorMessageResponse.t} | {:ok, OpenFGA.Model.PathUnknownErrorMessageResponse.t} | {:ok, OpenFGA.Model.GetStoreResponse.t} | {:error, Tesla.Env.t}
  def get_store(connection, store_id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/stores/#{store_id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %OpenFGA.Model.GetStoreResponse{}},
      {400, %OpenFGA.Model.ValidationErrorMessageResponse{}},
      {404, %OpenFGA.Model.PathUnknownErrorMessageResponse{}},
      {500, %OpenFGA.Model.InternalErrorMessageResponse{}}
    ])
  end

  @doc """
  [EXPERIMENTAL] Get all object ids of the given type that the user has a relation with
  The ListObjects API returns a list of all the object ids of the given type that the user has a relation with. To achieve this, both the store tuples and the authorization model are used. An `authorization_model_id` may be specified in the body. If it is, it will be used to decide the underlying implementation used. If it is not specified, the latest authorization model ID will be used. You may also specify `contextual_tuples` that will be treated as regular tuples. 

  ### Parameters

  - `connection` (OpenFGA.Connection): Connection to server
  - `store_id` (String.t): 
  - `body` (ListObjectsRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, OpenFGA.Model.ListObjectsResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec list_objects(Tesla.Env.client, String.t, OpenFGA.Model.ListObjectsRequest.t, keyword()) :: {:ok, OpenFGA.Model.InternalErrorMessageResponse.t} | {:ok, OpenFGA.Model.ValidationErrorMessageResponse.t} | {:ok, OpenFGA.Model.ListObjectsResponse.t} | {:ok, OpenFGA.Model.PathUnknownErrorMessageResponse.t} | {:error, Tesla.Env.t}
  def list_objects(connection, store_id, body, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/stores/#{store_id}/list-objects")
      |> add_param(:body, :body, body)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %OpenFGA.Model.ListObjectsResponse{}},
      {400, %OpenFGA.Model.ValidationErrorMessageResponse{}},
      {404, %OpenFGA.Model.PathUnknownErrorMessageResponse{}},
      {500, %OpenFGA.Model.InternalErrorMessageResponse{}}
    ])
  end

  @doc """
  List all stores
  Returns a paginated list of OpenFGA stores.

  ### Parameters

  - `connection` (OpenFGA.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:page_size` (integer()): 
    - `:continuation_token` (String.t): 

  ### Returns

  - `{:ok, OpenFGA.Model.ListStoresResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec list_stores(Tesla.Env.client, keyword()) :: {:ok, OpenFGA.Model.ListStoresResponse.t} | {:ok, OpenFGA.Model.InternalErrorMessageResponse.t} | {:ok, OpenFGA.Model.ValidationErrorMessageResponse.t} | {:ok, OpenFGA.Model.PathUnknownErrorMessageResponse.t} | {:error, Tesla.Env.t}
  def list_stores(connection, opts \\ []) do
    optional_params = %{
      :page_size => :query,
      :continuation_token => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/stores")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %OpenFGA.Model.ListStoresResponse{}},
      {400, %OpenFGA.Model.ValidationErrorMessageResponse{}},
      {404, %OpenFGA.Model.PathUnknownErrorMessageResponse{}},
      {500, %OpenFGA.Model.InternalErrorMessageResponse{}}
    ])
  end

  @doc """
  Get tuples from the store that matches a query, without following userset rewrite rules
  The Read API will return the tuples for a certain store that match a query filter specified in the body of the request. It is different from the `/stores/{store_id}/expand` API in that it only returns relationship tuples that are stored in the system and satisfy the query.  In the body: 1. `tuple_key.object` is mandatory. It can be a full object (e.g., `type:object_id`) or type only (e.g., `type:`). 2. `tuple_key.user` is mandatory in the case the `tuple_key.object` is a type only. 3. `authorization_model_id` is optional. If specified, it will be used to assert that the input `tuple_key` is valid for the model specified. If not specified, the latest authorization model ID will be used.  ## Examples ### Query for all objects in a type definition To query for all objects that `user:bob` has `reader` relationship in the document type definition, call read API with body of ```json {  \"tuple_key\": {      \"user\": \"user:bob\",      \"relation\": \"reader\",      \"object\": \"document:\"   } } ``` The API will return tuples and an optional continuation token, something like ```json {   \"tuples\": [     {       \"key\": {         \"user\": \"user:bob\",         \"relation\": \"reader\",         \"object\": \"document:2021-budget\"       },       \"timestamp\": \"2021-10-06T15:32:11.128Z\"     }   ] } ``` This means that `user:bob` has a `reader` relationship with 1 document `document:2021-budget`. ### Query for all stored relationship tuples that have a particular relation and object To query for all users that have `reader` relationship with `document:2021-budget`, call read API with body of  ```json {   \"tuple_key\": {      \"object\": \"document:2021-budget\",      \"relation\": \"reader\"    } } ``` The API will return something like  ```json {   \"tuples\": [     {       \"key\": {         \"user\": \"user:bob\",         \"relation\": \"reader\",         \"object\": \"document:2021-budget\"       },       \"timestamp\": \"2021-10-06T15:32:11.128Z\"     }   ] } ``` This means that `document:2021-budget` has 1 `reader` (`user:bob`).  Note that the API will not return writers such as `user:anne` even when all writers are readers.  This is because only direct relationship are returned for the READ API. ### Query for all users with all relationships for a particular document To query for all users that have any relationship with `document:2021-budget`, call read API with body of  ```json {   \"tuple_key\": {       \"object\": \"document:2021-budget\"    } } ``` The API will return something like  ```json {   \"tuples\": [     {       \"key\": {         \"user\": \"user:anne\",         \"relation\": \"writer\",         \"object\": \"document:2021-budget\"       },       \"timestamp\": \"2021-10-05T13:42:12.356Z\"     },     {       \"key\": {         \"user\": \"user:bob\",         \"relation\": \"reader\",         \"object\": \"document:2021-budget\"       },       \"timestamp\": \"2021-10-06T15:32:11.128Z\"     }   ] } ``` This means that `document:2021-budget` has 1 `reader` (`user:bob`) and 1 `writer` (`user:anne`). 

  ### Parameters

  - `connection` (OpenFGA.Connection): Connection to server
  - `store_id` (String.t): 
  - `body` (ReadRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, OpenFGA.Model.ReadResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec read(Tesla.Env.client, String.t, OpenFGA.Model.ReadRequest.t, keyword()) :: {:ok, OpenFGA.Model.InternalErrorMessageResponse.t} | {:ok, OpenFGA.Model.ValidationErrorMessageResponse.t} | {:ok, OpenFGA.Model.ReadResponse.t} | {:ok, OpenFGA.Model.PathUnknownErrorMessageResponse.t} | {:error, Tesla.Env.t}
  def read(connection, store_id, body, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/stores/#{store_id}/read")
      |> add_param(:body, :body, body)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %OpenFGA.Model.ReadResponse{}},
      {400, %OpenFGA.Model.ValidationErrorMessageResponse{}},
      {404, %OpenFGA.Model.PathUnknownErrorMessageResponse{}},
      {500, %OpenFGA.Model.InternalErrorMessageResponse{}}
    ])
  end

  @doc """
  Read assertions for an authorization model ID
  The ReadAssertions API will return, for a given authorization model id, all the assertions stored for it. An assertion is an object that contains a tuple key, and the expectation of whether a call to the Check API of that tuple key will return true or false. 

  ### Parameters

  - `connection` (OpenFGA.Connection): Connection to server
  - `store_id` (String.t): 
  - `authorization_model_id` (String.t): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, OpenFGA.Model.ReadAssertionsResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec read_assertions(Tesla.Env.client, String.t, String.t, keyword()) :: {:ok, OpenFGA.Model.InternalErrorMessageResponse.t} | {:ok, OpenFGA.Model.ValidationErrorMessageResponse.t} | {:ok, OpenFGA.Model.PathUnknownErrorMessageResponse.t} | {:ok, OpenFGA.Model.ReadAssertionsResponse.t} | {:error, Tesla.Env.t}
  def read_assertions(connection, store_id, authorization_model_id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/stores/#{store_id}/assertions/#{authorization_model_id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %OpenFGA.Model.ReadAssertionsResponse{}},
      {400, %OpenFGA.Model.ValidationErrorMessageResponse{}},
      {404, %OpenFGA.Model.PathUnknownErrorMessageResponse{}},
      {500, %OpenFGA.Model.InternalErrorMessageResponse{}}
    ])
  end

  @doc """
  Return a particular version of an authorization model
  The ReadAuthorizationModel API returns an authorization model by its identifier. The response will return the authorization model for the particular version.  ## Example To retrieve the authorization model with ID `01G5JAVJ41T49E9TT3SKVS7X1J` for the store, call the GET authorization-models by ID API with `01G5JAVJ41T49E9TT3SKVS7X1J` as the `id` path parameter.  The API will return: ```json {   \"authorization_model\":{     \"id\":\"01G5JAVJ41T49E9TT3SKVS7X1J\",     \"type_definitions\":[       {         \"type\":\"user\"       },       {         \"type\":\"document\",         \"relations\":{           \"reader\":{             \"union\":{               \"child\":[                 {                   \"this\":{}                 },                 {                   \"computedUserset\":{                     \"object\":\"\",                     \"relation\":\"writer\"                   }                 }               ]             }           },           \"writer\":{             \"this\":{}           }         }       }     ]   } } ``` In the above example, there are 2 types (`user` and `document`). The `document` type has 2 relations (`writer` and `reader`).

  ### Parameters

  - `connection` (OpenFGA.Connection): Connection to server
  - `store_id` (String.t): 
  - `id` (String.t): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, OpenFGA.Model.ReadAuthorizationModelResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec read_authorization_model(Tesla.Env.client, String.t, String.t, keyword()) :: {:ok, OpenFGA.Model.InternalErrorMessageResponse.t} | {:ok, OpenFGA.Model.ValidationErrorMessageResponse.t} | {:ok, OpenFGA.Model.PathUnknownErrorMessageResponse.t} | {:ok, OpenFGA.Model.ReadAuthorizationModelResponse.t} | {:error, Tesla.Env.t}
  def read_authorization_model(connection, store_id, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/stores/#{store_id}/authorization-models/#{id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %OpenFGA.Model.ReadAuthorizationModelResponse{}},
      {400, %OpenFGA.Model.ValidationErrorMessageResponse{}},
      {404, %OpenFGA.Model.PathUnknownErrorMessageResponse{}},
      {500, %OpenFGA.Model.InternalErrorMessageResponse{}}
    ])
  end

  @doc """
  Return all the authorization models for a particular store
  The ReadAuthorizationModels API will return all the authorization models for a certain store. OpenFGA's response will contain an array of all authorization models, sorted in descending order of creation.  ## Example Assume that a store's authorization model has been configured twice. To get all the authorization models that have been created in this store, call GET authorization-models. The API will return a response that looks like: ```json {   \"authorization_models\": [     {       \"id\": \"01G50QVV17PECNVAHX1GG4Y5NC\",       \"type_definitions\": [...]     },     {       \"id\": \"01G4ZW8F4A07AKQ8RHSVG9RW04\",       \"type_definitions\": [...]     },   ] } ``` If there are more authorization models available, the response will contain an extra field `continuation_token`: ```json {   \"authorization_models\": [     {       \"id\": \"01G50QVV17PECNVAHX1GG4Y5NC\",       \"type_definitions\": [...]     },     {       \"id\": \"01G4ZW8F4A07AKQ8RHSVG9RW04\",       \"type_definitions\": [...]     },   ],   \"continuation_token\": \"eyJwayI6IkxBVEVTVF9OU0NPTkZJR19hdXRoMHN0b3JlIiwic2siOiIxem1qbXF3MWZLZExTcUoyN01MdTdqTjh0cWgifQ==\" } ``` 

  ### Parameters

  - `connection` (OpenFGA.Connection): Connection to server
  - `store_id` (String.t): 
  - `opts` (keyword): Optional parameters
    - `:page_size` (integer()): 
    - `:continuation_token` (String.t): 

  ### Returns

  - `{:ok, OpenFGA.Model.ReadAuthorizationModelsResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec read_authorization_models(Tesla.Env.client, String.t, keyword()) :: {:ok, OpenFGA.Model.InternalErrorMessageResponse.t} | {:ok, OpenFGA.Model.ReadAuthorizationModelsResponse.t} | {:ok, OpenFGA.Model.ValidationErrorMessageResponse.t} | {:ok, OpenFGA.Model.PathUnknownErrorMessageResponse.t} | {:error, Tesla.Env.t}
  def read_authorization_models(connection, store_id, opts \\ []) do
    optional_params = %{
      :page_size => :query,
      :continuation_token => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/stores/#{store_id}/authorization-models")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %OpenFGA.Model.ReadAuthorizationModelsResponse{}},
      {400, %OpenFGA.Model.ValidationErrorMessageResponse{}},
      {404, %OpenFGA.Model.PathUnknownErrorMessageResponse{}},
      {500, %OpenFGA.Model.InternalErrorMessageResponse{}}
    ])
  end

  @doc """
  Return a list of all the tuple changes
  The ReadChanges API will return a paginated list of tuple changes (additions and deletions) that occurred in a given store, sorted by ascending time. The response will include a continuation token that is used to get the next set of changes. If there are no changes after the provided continuation token, the same token will be returned in order for it to be used when new changes are recorded. If the store never had any tuples added or removed, this token will be empty. You can use the `type` parameter to only get the list of tuple changes that affect objects of that type. 

  ### Parameters

  - `connection` (OpenFGA.Connection): Connection to server
  - `store_id` (String.t): 
  - `opts` (keyword): Optional parameters
    - `:type` (String.t): 
    - `:page_size` (integer()): 
    - `:continuation_token` (String.t): 

  ### Returns

  - `{:ok, OpenFGA.Model.ReadChangesResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec read_changes(Tesla.Env.client, String.t, keyword()) :: {:ok, OpenFGA.Model.InternalErrorMessageResponse.t} | {:ok, OpenFGA.Model.ValidationErrorMessageResponse.t} | {:ok, OpenFGA.Model.PathUnknownErrorMessageResponse.t} | {:ok, OpenFGA.Model.ReadChangesResponse.t} | {:error, Tesla.Env.t}
  def read_changes(connection, store_id, opts \\ []) do
    optional_params = %{
      :type => :query,
      :page_size => :query,
      :continuation_token => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/stores/#{store_id}/changes")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %OpenFGA.Model.ReadChangesResponse{}},
      {400, %OpenFGA.Model.ValidationErrorMessageResponse{}},
      {404, %OpenFGA.Model.PathUnknownErrorMessageResponse{}},
      {500, %OpenFGA.Model.InternalErrorMessageResponse{}}
    ])
  end

  @doc """
  Add or delete tuples from the store
  The Write API will update the tuples for a certain store. Tuples and type definitions allow OpenFGA to determine whether a relationship exists between an object and an user. In the body, `writes` adds new tuples while `deletes` removes existing tuples. The API is not idempotent: if, later on, you try to add the same tuple, or if you try to delete a non-existing tuple, it will throw an error. An `authorization_model_id` may be specified in the body. If it is, it will be used to assert that each written tuple (not deleted) is valid for the model specified. If it is not specified, the latest authorization model ID will be used. ## Example ### Adding relationships To add `user:anne` as a `writer` for `document:2021-budget`, call write API with the following  ```json {   \"writes\": {     \"tuple_keys\": [       {         \"user\": \"user:anne\",         \"relation\": \"writer\",         \"object\": \"document:2021-budget\"       }     ]   } } ``` ### Removing relationships To remove `user:bob` as a `reader` for `document:2021-budget`, call write API with the following  ```json {   \"deletes\": {     \"tuple_keys\": [       {         \"user\": \"user:bob\",         \"relation\": \"reader\",         \"object\": \"document:2021-budget\"       }     ]   } } ``` 

  ### Parameters

  - `connection` (OpenFGA.Connection): Connection to server
  - `store_id` (String.t): 
  - `body` (WriteRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, map()}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec write(Tesla.Env.client, String.t, OpenFGA.Model.WriteRequest.t, keyword()) :: {:ok, OpenFGA.Model.InternalErrorMessageResponse.t} | {:ok, OpenFGA.Model.ValidationErrorMessageResponse.t} | {:ok, Map.t} | {:ok, OpenFGA.Model.PathUnknownErrorMessageResponse.t} | {:error, Tesla.Env.t}
  def write(connection, store_id, body, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/stores/#{store_id}/write")
      |> add_param(:body, :body, body)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %{}},
      {400, %OpenFGA.Model.ValidationErrorMessageResponse{}},
      {404, %OpenFGA.Model.PathUnknownErrorMessageResponse{}},
      {500, %OpenFGA.Model.InternalErrorMessageResponse{}}
    ])
  end

  @doc """
  Upsert assertions for an authorization model ID
  The WriteAssertions API will upsert new assertions for an authorization model id, or overwrite the existing ones. An assertion is an object that contains a tuple key, and the expectation of whether a call to the Check API of that tuple key will return true or false. 

  ### Parameters

  - `connection` (OpenFGA.Connection): Connection to server
  - `store_id` (String.t): 
  - `authorization_model_id` (String.t): 
  - `body` (WriteAssertionsRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec write_assertions(Tesla.Env.client, String.t, String.t, OpenFGA.Model.WriteAssertionsRequest.t, keyword()) :: {:ok, nil} | {:ok, OpenFGA.Model.InternalErrorMessageResponse.t} | {:ok, OpenFGA.Model.ValidationErrorMessageResponse.t} | {:ok, OpenFGA.Model.PathUnknownErrorMessageResponse.t} | {:error, Tesla.Env.t}
  def write_assertions(connection, store_id, authorization_model_id, body, _opts \\ []) do
    request =
      %{}
      |> method(:put)
      |> url("/stores/#{store_id}/assertions/#{authorization_model_id}")
      |> add_param(:body, :body, body)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {204, false},
      {400, %OpenFGA.Model.ValidationErrorMessageResponse{}},
      {404, %OpenFGA.Model.PathUnknownErrorMessageResponse{}},
      {500, %OpenFGA.Model.InternalErrorMessageResponse{}}
    ])
  end

  @doc """
  Create a new authorization model
  The WriteAuthorizationModel API will add a new authorization model to a store. Each item in the `type_definitions` array is a type definition as specified in the field `type_definition`. The response will return the authorization model's ID in the `id` field.  ## Example To add an authorization model with `user` and `document` type definitions, call POST authorization-models API with the body:  ```json {   \"type_definitions\":[     {       \"type\":\"user\"     },     {       \"type\":\"document\",       \"relations\":{         \"reader\":{           \"union\":{             \"child\":[               {                 \"this\":{}               },               {                 \"computedUserset\":{                   \"object\":\"\",                   \"relation\":\"writer\"                 }               }             ]           }         },         \"writer\":{           \"this\":{}         }       }     }   ] } ``` OpenFGA's response will include the version id for this authorization model, which will look like  ``` {\"authorization_model_id\": \"01G50QVV17PECNVAHX1GG4Y5NC\"} ``` 

  ### Parameters

  - `connection` (OpenFGA.Connection): Connection to server
  - `store_id` (String.t): 
  - `body` (WriteAuthorizationModelRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, OpenFGA.Model.WriteAuthorizationModelResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec write_authorization_model(Tesla.Env.client, String.t, OpenFGA.Model.WriteAuthorizationModelRequest.t, keyword()) :: {:ok, OpenFGA.Model.WriteAuthorizationModelResponse.t} | {:ok, OpenFGA.Model.InternalErrorMessageResponse.t} | {:ok, OpenFGA.Model.ValidationErrorMessageResponse.t} | {:ok, OpenFGA.Model.PathUnknownErrorMessageResponse.t} | {:error, Tesla.Env.t}
  def write_authorization_model(connection, store_id, body, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/stores/#{store_id}/authorization-models")
      |> add_param(:body, :body, body)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {201, %OpenFGA.Model.WriteAuthorizationModelResponse{}},
      {400, %OpenFGA.Model.ValidationErrorMessageResponse{}},
      {404, %OpenFGA.Model.PathUnknownErrorMessageResponse{}},
      {500, %OpenFGA.Model.InternalErrorMessageResponse{}}
    ])
  end
end
